<% emoticons = [ "(｀0´)",
"(︶︿︶)",
"(·_·)",
"(^-^*)",
"(>_<)",
"(≥o≤)",
"(;-;)",
'\(^Д^)/',
"(·.·)",
"V●ᴥ●V",
"U ´꓃ ` U",
"(∩︵∩)",
"((´д｀))",
"(▰˘︹˘▰)",
"( ´•̥̥̥ω•̥̥̥` )" ] %>

<p><%= emoticons.sample %></p>
<br>
<h3>Zero results!</h3>
