/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require bookmarks.css
 *= require tags.css
 *= require default.css
 */

body {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  background-size: cover;
}

a {
  text-decoration: none;
}

a:visited {
    color: #000;
}

h2 {
  text-align: right;
  font-size: 20px;
}

#logout {
  text-align: right;
}

.login-container {
  padding: 40px;
  min-height: 50vh;
  margin: auto;
  margin-top: 15vh;
  width: 50%;
  background: rgba(204, 204, 204, 0.7);
  text-align: center;
}

.field input {
  margin-bottom: 15px;
  margin-top: 15px;
}

.actions input {
  margin-top: 15px;
  margin-bottom: 20px;
  border-color: #a9a9a9;
  border-width: 0.5px;
  color: black;
  background: #ffffff;
  height: 21px;
}

.new-edit-form {
  display: flex;
}

.new-edit-container{
  width:50vw;
  padding: 40px;
  min-height: 50vh;
  margin: auto;
  width: 50%;
  background: rgba(204, 204, 204, 1);
  text-align: center;
}

.new-edit-container .actions input {
  margin-top: 40px;
  margin-bottom: 20px;
  border-color: #a9a9a9;
  border-width: 0.5px;
  color: black;
  background: #ffffff;
  height: 27px;
  width: 80%;
}

#bookmark_tags {
  height: 250px;
  width: 150px;
}

@media only screen and (max-width: 450px){
  #filters {
    float: none;
    width: 100vw;
  }
  .tag {
    width: 80vw;
  }
}
