// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-input-placeholder {
   font-style: italic;
}

#title-search {
  text-align: center;
  margin:20px;
  display: inline;
}

#title-search form button {
  height: 36px;
  display: none;
}

#search {
  width: 30vw;
  height: 30px;
  text-align: center;
}

#bookmarks-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  top: 180px;
}

.bookmark {
  margin: auto;
  max-width: 225px;
  flex: 1;
}

.bookmark-text {
  min-height: 125px;
  position: relative;
}

.bookmark-text #edit, .bookmark-text #delete{
  display: none;
}

.bookmark-text:hover #edit, .bookmark-text:hover #delete{
  display: inline;
}

#delete {
  text-align: right;
  float:right;
}

#edit {
  text-align: left;
}

.screenshot {
  max-width: 225px;
}

h4 {
  font-size: 20px;
  padding: 5px;
}

span {
  padding: 3px;
}

#close-button {
  margin-bottom:25px;
}