// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-input-placeholder {
   font-style: italic;
}

#title-search {
  text-align: center;
  margin:20px;
  display: inline;
}

#title-search form button {
  height: 36px;
  display: none;
}

#search {
  width: 30vw;
  height: 30px;
  text-align: center;
}


#bookmarks-list {
  // margin: 20px;
  // margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}

.bookmark {
  margin: auto;
  max-width: 225px;
  flex: 1;
}

.bookmark-text {
  min-height: 125px;
  position: relative;
}

.bookmark-text #edit, .bookmark-text #delete{
  display: none;
}

.bookmark-text:hover #edit, .bookmark-text:hover #delete{
  //display:block;
  display: inline;
}

#delete {
  text-align: right;
  float:right;
}

#edit {
  text-align: left;
}

#subfilters {
  //display:none;
  width: 200px;
  height: 100vh;
  margin: 0;
  // overflow: hidden;
  // max-width: 125px;
}

.screenshot {
  //max-height: 185px;
  max-width: 225px;
}

h4 {
  font-size: 20px;
  padding: 5px;
}

span {
  padding: 3px;
}

// #filters form {
//   display: inline;
// }


// #tag-list{
//   display: inline;
// }

// #tag-title {
//   display:inline;
// }

// ul {
//   display: inline;
// }

#bookmarks-list {
  position: absolute;
  top: 200px;
}